.form__input-error {
  max-height: 15px;
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  transition: opacity, .2s;
}
