.popup__button-close {
  position: absolute;
  top: -40px;
  left: 100%;
}

@media screen and (max-width: 510px) {
  .popup__button-close {
    width: 26px;
    height: 26px;
    left: calc(100% - 26px);
  }
}

/* стили горизонтальной ориентации */
@media screen and (max-width: 823px) and (max-height: 414px) {
  .popup__button-close {
    top: 0%;
    left: 102%;
    width: 40px;
    height: 40px;
  }
}
