@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.element {
  margin: 0;
  width: 282px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: appear .3s ease-in-out;
  animation-fill-mode: both;
}
