.form__input-section {
  margin: 0 36px 30px;
  padding: 0;
  width: 83.255814%;
  position: relative;
}

@media screen and (max-width: 500px) {
  .form__input-section {
    margin: 0 7.80141844% 30px;
    width: 84.3971631%;
  }
}
