.form__profile-information {
  padding: 0;
  min-width: 0;
  margin-bottom: 18px;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 424px) {
  .form__profile-information {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 823px) and (max-height: 414px) {
  .form__profile-information {
    margin-bottom: 0;
  }
}
