.form__redirection {
    margin: 0;
    /* margin-top: 15px; */
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: inherit;
}
