
.form__profile-information_margin {
  margin-bottom: 216px;
}

@media screen and (max-width: 424px) {
  .form__profile-information_margin {
    margin-bottom: 173px;
  }
}

@media screen and (max-width: 823px) and (max-height: 414px) {
  .form__profile-information_margin {
    margin-bottom: 0;
  }
}
